/*@import url("https://fonts.googleapis.com/css?family=Chelsea Market' rel='stylesheet")*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font-family: "Chelsea Market";
	font-size: 1.2rem;
	min-height: 100%;
	background-color: #fad586;
}

.grid-container > * {
	box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}
header {
	grid-area: H;
	background-color: #98ddca;
}

nav {
	grid-area: N;
	background-color: #d5ecc2;
}

aside {
	grid-area: A;
	background-color: #ffd3b4;
}

section {
	grid-area: S;
	background-color: #ffaaa7;
}

footer {
	grid-area: F;
	background-color: #ead3cb;
}


.grid-container {
	display: grid;
	grid-gap: 10px;
	grid-template:
		"H"  100px
		"N"  50px
		"S"  auto
		"A"  100px
		"F"  100px;
}

@media (min-width: 600px) {
	.grid-container {
		/*grid-template-columns: 200px auto;
		grid-template-rows: 100px 50px auto 100px;*/
		grid-template:
		"H H" 100px
		"N N" 50px
		"A S" auto
		"F F" 100px/
		200px	auto;
	}
}

@media (min-width: 900px) {
	.grid-container {
		grid-template: 
		"H H H" 100px
		"N S A" auto
		"F F F" 100px/
		200px auto 200px;
	}
}

