* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font-family: "Chelsea Market";
	font-size: 1.2rem;
	min-height: 100%;
	background-color: #f8f5f1;
}

.grid-container > * {
	box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}

.grid-nav {
	display: grid;
	grid-template-rows: repeat (3,150px);
}

.grid-section {
	display: grid;
	grid-template:
	"card card"
	"texto texto2";
	text-align: center;
	grid-gap: 5px;
}

.card {
	grid-area:card;
	justify-self: center;
}

header {
	grid-area: H;
	background-color: #bdc7c9;
}

nav {
	grid-area: N;
	background-color: #c06014;
}

aside {
	grid-area: A;
	background-color: #c06014;
}

section {
	grid-area: S;
	background-color: #d8e3e7;
}

footer {
	grid-area: F;
	background-color: #424642;
}


.grid-container {
	display: grid;
	grid-gap: 10px;
	grid-template:
		"H"  125px
		"N"  50px
		"S"  auto
		"A"  200px
		"F"  100px;
}

@media (min-width: 600px) {
	.grid-container {
		grid-template:
		"H H" 125px
		"N N" 70px
		"A S" auto
		"F F" 100px/
		200px	auto;
	}
}

@media (min-width: 900px) {
	.grid-container {
		grid-template: 
		"H H H" 125px
		"N S A" auto
		"F F F" 100px/
		145px auto 200px;
	}
}

.logo {
	height: 110px;
	float: left;
	text-align: center;
}

.grid-nav {
	display: inline-block;
}

.grid-nav li{
	display: inline-block;
	margin: 15px;
	font-size: 15px;
	text-align: center;
}

.grid-nav li:hover {
	color: white;
}

.footer li{
	display: inline-block;
	text-align: center;
	margin: 15px;
}

.grid-aside {
	display: inline-block;
	margin: 7px;
}

.grid-aside img {
	width: 175px;
	height: 185px;
}